@import "../../../styles/colors.scss";

.registerForm {
  grid-area: register;

  //  background-color: blue;
  //  opacity: 0.5;

  display: grid;
  grid-template-rows: 1fr 4fr;

  grid-template-areas: "text" "form";

  .joinUsText {
    width: 80%;
    margin: 0 auto;
    border-top: 1px solid color(inputs);
    grid-area: text;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-weight: bold;
    color: color(fonts);
  }

  .createAccArea {
    display: flex;
    align-items: center;
    justify-content: center;

    &Button {
      border-radius: 1.5rem;
      color: color(fonts);
      background-color: color(inputs);
      padding: 1.5rem 2.5rem;
      margin-top: -5rem;
    }
  }
}
