@import "./colors";
@import "./resolutionMixins.scss";

html {
  font-size: 62.5%; /* 1 rem = 10px */
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Montserrat";
  color: color(fonts);

  textarea {
    font-family: "Montserrat";
  }

  a {
    color: color(fonts);
  }

  textarea:focus,
  input:focus {
    outline: none;
  }

  textarea::placeholder,
  input::placeholder {
    color: color(placeholders);
  }

  @include desktop {
    /* width */
    ::-webkit-scrollbar {
      width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      background: lightgray;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: #888;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }
}

body {
  margin: 0;
  padding: 0;
}
