@import "../../../styles/colors.scss";

.registerForm {
  color: color(fonts);
  grid-area: register;
  padding: 5vh 15rem 0 0;
  text-align: right;

  h1 {
    font-size: 5rem;
    height: 10vh;
    box-sizing: border-box;
    margin: 6vh 0;
    padding: 0;
  }

  form {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-between;
    height: 65vh;
    padding: 0vh 0 5vh 5vw;

    input {
      border: none;
      border-radius: 1.5rem;
      width: calc(100%);
      height: 3rem;
      padding: 2rem 1.5rem;
      font-size: 1.8rem;
      background-color: color(inputs);
      color: color(fonts);
    }

    input::placeholder {
      color: color(placeholder);
    }

    .birthInputs {
      display: flex;
    }

    & > button {
      border-radius: 1.5rem;
      padding: 1rem;
      border: none;
      background-color: color(inputs);
      color: color(fonts);
      width: 45%;
      font-size: 2.2rem;
      align-self: flex-end;
      cursor: pointer;
      border: 2px solid color(inputs);
      transition-duration: 0.4s;
    }

    & > button:hover {
      background-color: color(secondary);
    }
  }
}
