@import "../../../../styles/colors.scss";

.moblieNavBarContainer {
  height: 6rem;
  width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;

  .icon {
    width: calc(100vw / 7);
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &Last {
      border: none;
      background-color: color(secondary);
      color: color(fonts);
    }

    img {
      width: 4rem;
      height: 4rem;
      border-radius: 100%;
    }
  }

  a {
    color: color(fonts);
    text-decoration: none;
    background-color: color(secondary);
  }

  .activeLink {
    color: color(secondary);
    background-color: color(inputs);
  }
}
