@import "../../../../../styles/colors.scss";

.notificationPanelContainer {
  grid-area: icons;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem 0 1rem;
  .firstIcons {
    display: flex;
  }

  .icon {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    width: 3.5rem;
    margin: 0 1rem;
    border-radius: 150%;
    background-color: color(primary);
    color: color(secondary);
    cursor: pointer;
    transition: color 1s;

    &Active {
      background-color: color(secondary);
      color: color(primary);
    }
  }

  .icon:hover {
    background-color: color(secondary);
    color: color(primary);
  }
}
